.navBarContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  padding: 1rem;
  height: 10vh;
  position: fixed;
  z-index: 1111;
}

.navBarContainer a {
  cursor: pointer;
}

.open {
  display: flex;
  height: 98%;
  background-color: #03080e;
  width: 300px;
  border-radius: 1rem;
  color: white;
  position: fixed;
  right: 0;
  padding: 1rem;
  margin: 1rem;
  transition: 0.4s all ease;
  top: 0;
  z-index: 1;
}

.overLayOpen {
  opacity: 1;
  width: 100vh;
  height: 100vh;
  z-index: 1;
  background-color: hsl(213, 65%, 3%, 5%);
}

.close {
  right: -350px !important;
  display: flex;
  height: 98%;
  background-color: #03080e;
  width: 300px;
  border-radius: 1rem;
  color: white;
  position: fixed;
  padding: 1rem;
  margin: 1rem;
  transition: 0.4s all ease;
  top: 0;
  z-index: 1;
}

.navBarContainer a {
  color: #64ffda;
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
}

.menuBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.4s all ease;
  position: relative;
  right: 0;
  margin: 2rem;
  height: 50px;
  z-index: 1111;
  top: 0;
  width: 55px;
}

.menuBtn:hover {
  cursor: pointer;
  background-color: hsl(166, 100%, 70%, 20%);
}

.menuBtnClose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.4s all ease;
  position: relative;
  right: 0;
  margin: 2rem;
  height: 40px;
  z-index: 1111;
  top: 0;
  width: 50px;
}

.menuBtnClose:hover {
  cursor: pointer;
  background-color: hsl(166, 100%, 70%, 20%);
}

.littleHr {
  position: relative;
  width: 30px;
  margin: 0;
  border: 2px solid #64ffda;
  transition: 0.4s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigHr {
  position: relative;
  width: 35px;
  margin: 0;
  border: 2px solid #64ffda;
  transition: 0.4s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigHrX {
  position: absolute;
  transform: rotate(45deg);
  width: 30px;
  margin: 0;
  border: 2px solid #64ffda;
  transition: 0.4s all ease;
}

.littleHrX {
  position: absolute;
  width: 30px;
  margin: 0;
  border: 2px solid #64ffda;
  transform: rotate(-45deg);
  transition: 0.4s all ease;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 3rem;
  margin: 4rem 0;
}

.menuList li {
  list-style: none;
  border-bottom: 1px solid #64ffda;
  width: 100%;
  padding: 2rem;
  transition: 0.2s all ease;
}

.menuList li a {
  font-size: 2rem;
  margin: 0;
  transition: 0.2s all ease;
  text-decoration: none;
  color: white;
}

.activeLink {
  color: #64ffda !important;
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
}

.menuList li:hover {
  border-bottom: 3px solid #64ffda;
  cursor: pointer;
}

.menuList li:hover h1 {
  margin-left: 1rem;
}
